<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<!-- Section-->
<section class="py-5" layout:fragment="body">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            <div class="container" style="width: 500px;">
                <div th:if="${param.error}" class="alert alert-info">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <form method="post" role="form" th:action="@{/login}">
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input
                                class="form-control"
                                id="username"
                                name="username"
                                type="text"
                                placeholder="Enter Username">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                type="password"
                                placeholder="Enter Password">
                    </div>
                    <a th:href="@{/register}" type="submit" class="btn btn-black">Register</a>
                    <button type="submit" value="Log in" class="btn btn-secondary">Login</button>
                </form>
            </div>

        </div>
    </div>
</section>

</body>

</html>
