<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<!-- Section-->
<section class="py-5" layout:fragment="body">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            <div class="container" style="width: 500px;">
                <div th:if="${param.fail}" class="alert alert-warning">
                    Username or email already exists!
                </div>
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                    <div class="mb-3">
                        <label class="form-label" for="emailInput">Email address</label>
                        <input
                                class="form-control"
                                id="emailInput"
                                type="email"
                                placeholder="Enter email"
                                th:field="*{email}">
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger"></p>
                    <div class="mb-3">
                        <label class="form-label" for="usernameInput">Username</label>
                        <input
                                class="form-control"
                                id="usernameInput"
                                type="text"
                                placeholder="Enter Username"
                                th:field="*{username}">
                    </div>
                    <p th:if="${#fields.hasErrors('username')}" class="text-danger"></p>
                    <div class="mb-3">
                        <label class="form-label" for="passwordInput">Password</label>
                        <input
                                class="form-control"
                                id="passwordInput"
                                type="password"
                                placeholder="Enter Password"
                                th:field="*{password}">
                    </div>
                    <p th:if="${#fields.hasErrors('password')}" class="text-danger"></p>
                    <a th:href="@{/login}" type="submit" class="btn btn-black">Login</a>
                    <a th:href="@{/register}" type="submit" class="btn btn-secondary">Register</a>
                </form>
            </div>

        </div>
    </div>
</section>

</body>

</html>
