<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<!-- Section-->
<section class="py-5" layout:fragment="body">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            <div class="container" style="width: 500px;">
                <div class="alert alert-warning" th:if="${param.fail}">
                    Username or email already exists!
                </div>
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                    <div class="mb-3">
                        <label class="form-label" for="emailInput">Email address</label>
                        <input
                                class="form-control"
                                id="emailInput"
                                placeholder="Enter email"
                                th:field="*{email}"
                                type="email">
                    </div>
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                    <div class="mb-3">
                        <label class="form-label" for="usernameInput">Username</label>
                        <input
                                class="form-control"
                                id="usernameInput"
                                placeholder="Enter Username"
                                th:field="*{username}"
                                type="text">
                    </div>
                    <p class="text-danger" th:if="${#fields.hasErrors('username')}"></p>
                    <div class="mb-3">
                        <label class="form-label" for="passwordInput">Password</label>
                        <input
                                class="form-control"
                                id="passwordInput"
                                placeholder="Enter Password"
                                th:field="*{password}"
                                type="password">
                    </div>
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
                    <a class="btn btn-black" th:href="@{/login}" type="submit">Login</a>
                    <button class="btn btn-secondary" th:href="@{/register}" type="submit">Register</button>
                </form>
            </div>

        </div>
    </div>
</section>

</body>

</html>
