<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>

<!-- Section-->
<section class="py-5" layout:fragment="body">
    <div class="container mt-5">
        <h1>Users</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through previous orders -->
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.username}"></td>
                <th class="w-10">
                    <a class="text-black m-2" th:href="@{/admin/users/{userId}/edit(userId=${user.id})}"><i class="bi-pencil-fill"></i></a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>

</html>
